.esfinge {
  width:75%;
  padding-bottom:5%;
}

body {
  padding-top:10%;
  background-color:#e9bc00;
  font-family:"Varela Round", sans-serif;
}

.navbar {
  background-color:#850e5b;
  font-size:20px;
  padding-top:25px;
  height:100px;
  border-bottom: none;
}

.navbar-inverse .navbar-nav>li>a {
  color:#f9edff;
}

svg {
  width:200px;
  color:blue;
}

.one {
  background-color: #372478;
  padding-top: 7%;
  padding-bottom:7%;
}

.two {
  background-color: #7b057e;
  padding-top: 7%;
  padding-bottom:7%;
}

.three {
  background-color: #ba007c;
  padding-top: 7%;
  padding-bottom:7%;
}

.btn {
border: none;
border-radius: 0;
color: white;
padding-top: 7%;
padding-bottom:7%;
}

.btn-primary {
background-color: #bdd339;
}

.btn-default {
background-color: #e56b28;
}

.btn-danger{
background-color:#86c2f2;
}

.glyphicon {
font-size:18px;
padding-left: 15px;
}
